Repository feintlong3/next-with-register: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, bash -c tsc --noEmit

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint", "prettier --write", "bash -c tsc --noEmit"],
  "*.{js,jsx,mjs,cjs}": ["eslint", "prettier --write"],
  "*.{json,yaml,yml,md}": ["prettier --write"]
}

test CI追加
  .github/workflows/test.yml
Due: prettier --write

フォーマット修正
  postcss.config.mjs
Due: eslint, prettier --write

CI最適化
  .github/workflows/test.yml
Due: prettier --write

CI キャッシュ設定修正
  .github/workflows/test.yml
Due: prettier --write

トップページ追加
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  bun.lock
  components.json
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/form.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/select.tsx
  components/ui/sonner.tsx
  lib/db.ts
  lib/hooks/useRegisterDraft.ts
  lib/schema/register-schema.ts
  lib/utils.ts
  package.json
Due: eslint, prettier --write, bash -c tsc --noEmit

登録フロー実装
  app/layout.tsx
  app/page.tsx
  app/register/layout.tsx
  app/register/step1-basic/page.tsx
  app/register/step2-documents/page.tsx
  app/register/step3-confirm/page.tsx
  bun.lock
  components/layout/SiteHeader.tsx
  components/ui/separator.tsx
  lib/db.ts
  lib/hooks/useRegisterDraft.ts
  lib/schema/register-schema.ts
  lib/utils/sanitize-register.ts
  package.json
Due: eslint, prettier --write, bash -c tsc --noEmit

暗号化機能の追加など
  app/page.tsx
  app/register/step1-basic/page.tsx
  app/register/step2-documents/page.tsx
  components/ui/input.tsx
  lib/hooks/useRegisterDraft.ts
  lib/utils/db-cleanup.ts
  lib/utils/encryption-helper.ts
  lib/utils/encryption.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

update modules
  bun.lock
  components/layout/SiteHeader.tsx
  package.json
Due: eslint, prettier --write, bash -c tsc --noEmit

Promise チェーンにリファクタ
  app/page.tsx
  app/register/step1-basic/page.tsx
  app/register/step2-documents/page.tsx
  app/register/step3-confirm/page.tsx
  bun.lock
  lib/hooks/useRegisterDraft.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

react compiler適用
  bun.lock
  next.config.ts
  package.json
Due: eslint, prettier --write, bash -c tsc --noEmit

外部hooks切り出し
  app/register/step1-basic/page.tsx
  app/register/step2-documents/page.tsx
  app/register/step3-confirm/page.tsx
  lib/hooks/useDocumentFormDraftSync.ts
  lib/hooks/useDocumentTypeChange.ts
  lib/hooks/useDocumentTypeFieldCleanup.ts
  lib/hooks/useFormDraftSync.ts
  lib/hooks/useFormSubmit.ts
  lib/hooks/useImageDelete.ts
  lib/hooks/useRegisterFormSave.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

コンポーネント分離とカスタムフック抽出
  app/register/step1-basic/components/Step1BasicForm.tsx
  app/register/step1-basic/page.tsx
  app/register/step2-documents/components/ImageUploadField.tsx
  app/register/step2-documents/page.tsx
  app/register/step3-confirm/components/ConfirmationView.tsx
  app/register/step3-confirm/components/EmptyState.tsx
  app/register/step3-confirm/components/ImagePreview.tsx
  app/register/step3-confirm/page.tsx
  lib/utils/document-labels.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

vitestセットアップ
  bun.lock
  lib/utils/db-cleanup.test.ts
  lib/utils/document-labels.test.ts
  lib/utils/encryption-helper.test.ts
  lib/utils/encryption.test.ts
  lib/utils/sanitize-register.test.ts
  package.json
  vitest.config.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

ci テスト追加
  .github/workflows/test.yml
Due: prettier --write

hooksテスト追加
  lib/hooks/useDocumentFormDraftSync.test.ts
  lib/hooks/useDocumentTypeChange.test.ts
  lib/hooks/useDocumentTypeFieldCleanup.test.ts
  lib/hooks/useFormDraftSync.test.ts
  lib/hooks/useFormSubmit.test.ts
  lib/hooks/useImageDelete.test.ts
  lib/hooks/useRegisterDraft.test.ts
  lib/hooks/useRegisterFormSave.test.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

ブラウザモードテスト追加
  bun.lock
  components/layout/SiteHeader.browser.test.tsx
  package.json
  vitest.browser.config.ts
  vitest.browser.setup.ts
  vitest.config.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

ci追加
  .github/workflows/test.yml
  vitest.browser.config.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

バリデーションメッセージ最適化
  app/register/step1-basic/components/Step1BasicForm.tsx
  lib/schema/register-schema.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

コンポーネントテスト実装
  app/components/LandingPageContent.tsx
  app/page.browser.test.tsx
  app/page.tsx
  app/register/step1-basic/components/Step1BasicForm.test.tsx
  app/register/step2-documents/components/ImageUploadField.test.tsx
  app/register/step3-confirm/components/EmptyState.test.tsx
  app/register/step3-confirm/components/ImagePreview.test.tsx
  components/layout/SiteHeader.browser.test.tsx
Due: eslint, prettier --write, bash -c tsc --noEmit

コンポーネントテスト追加
  app/register/step3-confirm/components/ConfirmationView.browser.test.tsx
  app/register/step3-confirm/components/EmptyState.browser.test.tsx
  app/register/step3-confirm/components/EmptyState.test.tsx
Due: eslint, prettier --write, bash -c tsc --noEmit

vitest設定最適化
  vitest.browser.config.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

cloudflare設定追加
  .github/workflows/test.yml
  .gitignore
  bun.lock
  open-next.config.ts
  package.json
  wrangler.jsonc
Due: eslint, prettier --write, bash -c tsc --noEmit

ci/cd設定追加
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
Due: prettier --write

deploy修正
  .github/workflows/build_and_deploy.yml
Due: prettier --write

build and deploy修正
  .github/workflows/build_and_deploy.yml
Due: prettier --write

deploy コマンド修正
  .github/workflows/build_and_deploy.yml
Due: prettier --write

worker buildコマンド追加
  .github/workflows/build_and_deploy.yml
  package.json
Due: prettier --write

readme変更
  .github/images/register.png
  README.md
Due: prettier --write

自動クリーンアップ実装
  README.md
  app/page.tsx
  lib/utils/db-cleanup.test.ts
  lib/utils/db-cleanup.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

update modules
  bun.lock
  package.json
Due: prettier --write

ImagePreview, useFormSubmit最適化
  .gitignore
  app/register/step3-confirm/components/ImagePreview.tsx
  app/register/step3-confirm/page.tsx
  lib/hooks/useFormSubmit.test.ts
  lib/hooks/useFormSubmit.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

useImageKeys作成
  app/register/step2-documents/page.tsx
  lib/hooks/useDocumentTypeChange.test.ts
  lib/hooks/useDocumentTypeChange.ts
  lib/hooks/useImageDelete.test.ts
  lib/hooks/useImageDelete.ts
  lib/hooks/useImageKeys.ts
Due: eslint, prettier --write, bash -c tsc --noEmit

Step2の複雑性解消
  app/register/step2-documents/components/DocumentForm/DocumentFormRenderer.browser.test.tsx
  app/register/step2-documents/components/DocumentForm/DocumentFormRenderer.tsx
  app/register/step2-documents/components/DocumentForm/DriverLicenseForm.browser.test.tsx
  app/register/step2-documents/components/DocumentForm/DriverLicenseForm.tsx
  app/register/step2-documents/components/DocumentForm/MyNumberForm.browser.test.tsx
  app/register/step2-documents/components/DocumentForm/MyNumberForm.tsx
  app/register/step2-documents/components/DocumentForm/PassportForm.browser.test.tsx
  app/register/step2-documents/components/DocumentForm/PassportForm.tsx
  app/register/step2-documents/components/DocumentForm/index.ts
  app/register/step2-documents/page.tsx
Due: eslint, prettier --write, bash -c tsc --noEmit
